**/__pycache__/
**/*.pyc
**/*.pyo
**/.git
**/.gitignore
**/.env
**/node_modules
**/.vscode
**/.idea
**/*.egg-info
**/dist
**/build
data/
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
